* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--primocolore);
}

::-webkit-scrollbar-thumb {
  background-color: white;
  /* border-radius: 10px;  */
}

/* main{
  margin-top: 102px;
 } */

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100%;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
}

body.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

/* Imposta l'opacità a 1 per le animazioni in uscita */
body.fade-out {
  opacity: 1;
  animation: fadeOut 0.5s forwards;
}

/* Animazione di entrata */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Animazione di uscita */
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

/* Assicura che il body abbia transizioni fluide */
body {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.container {
  margin-top: 120px;
}

.overicon {
  font-size: 25px;
  color: var(--primocolore);
}
.infofixed {
  color: white;
  padding: 0.7em;
  background-color: #0045ff;
  position: fixed;
  bottom: -300px; /* Inizialmente fuori dal viewport */
  left: 0;
  width: 100%;
  z-index: 9999;
  opacity: 0; /* Invisibile inizialmente */
  transition: bottom 0.5s ease, opacity 0.5s ease; /* Transizione di bottom e opacità */
}



.overicon:hover {
  color: #0045ff;
}
:root {
  --primocolore: #090216;
  --giallo: #fbff74;
  --verde: #00f587;
  --azzurro: #0045ff;
  --celestechiaro: #6b98f4;
}

.josefin-sans-font {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primocolore);
  padding: 12px;
  z-index: 100000;
  color: white;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.color {
  color: #291e86;
}

header div img {
  width: 150px;
}

header div i {
  font-size: 24px;
}

/* Dropdown Styles */
.service-link {
  position: relative;
}

.service-link .dropdown {
  display: none; /* Nascondiamo inizialmente il dropdown */
  position: absolute;
  top: 100%;
  left: -115px;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  /* padding: 20px 0; */
  z-index: 1200;
  color: var(--primocolore);
  font-size: 0.8em;
  /* margin-top: 2em; */
  border-bottom-left-radius: 10px;
}

.part-trasparnt {
  margin: 0;
  min-height: 22px;
  background-color: var(--primocolore);
  transition: background-color 0.3s ease;
}

.service-link .dropdown li {
  list-style: none;
  padding: 0px 20px;
  min-width: 40%;
  text-align: left;
  margin-bottom: 1em;
  /* display: inline; */
}

.service-link .dropdown li a {
  color: var(--primocolore);
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  width: 100%;
}

.service-link .dropdown li a:hover {
  margin-left: 0.3em;
  /* border-left: 2px solid var(--primocolore); */
  transition: 0.2s;
}

/* Effetto Hover */
.service-link:hover .dropdown {
  display: block; /* Mostra il dropdown al hover */
}

.navbar {
  width: 100%;
  color: white;
}

.navbar-nav .nav-link {
  color: white !important; /* Colore bianco per le voci nella nav */
}
.nav-item {
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}
.nav-item:hover {
  border-bottom: 2px solid white;
}

.nav-item-changepage {
  border-bottom: 2px solid var(--primocolore);
}

.sidebar {
  position: fixed;
  top: 77px; /* Sposta la sidebar sotto l'header */
  right: -30%;
  width: 30%;
  height: calc(100% - 60px);
  background-color: var(--primocolore);
  color: white;
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 10000;
  overflow-y: auto; /* Aggiungi questa riga */
}

.sidebar.open {
  right: 0;
}

.close-btn {
  font-size: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 15px 0;
  font-size: 25px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.subcategories {
  margin-left: 20px;
  display: none;
}

.subcategories li:hover {
  color: red;
}

.fontforsub {
  font-size: 16px;
}

.has-subcategories {
  cursor: pointer;
}

.has-subcategories:after {
  content: " +";
}

.subcategories.open {
  display: block;
}

/* contenuto stile */
.service {
  min-height: calc(100vh + 75px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primocolore);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* EFFETTO PARALLAX */
  position: relative;
  color: white;
  font-size: 45px;
  text-align: left;
  padding: 0 20px;
}

.service .content {
  display: flex;
  flex-direction: column;
  align-items: start; /* Centra orizzontalmente */
  justify-content: center; /* Centra verticalmente */
  width: 100%;
  max-width: 1200px;
  z-index: 1;
}

.service .content a {
  margin-top: 0;
}

/* Titolo */
.service h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0;
  margin: 0;
}
.service > .content p {
  margin-top: 0.6em;
  font-size: 0.5em;
  border-left: 2px solid white;
  padding-left: 0.6em;
  width: 80%;
  margin-left: 5px;
  margin-bottom: 0;
}

.service > .content a {
  text-decoration: none;
  color: white;
}

.service span {
  font-size: 0.4em;
  padding-bottom: 0.3em;
}

/* Piccolo link sotto il titolo */
.service a p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: white;
}

.service p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.service a span:hover {
  /* font-weight: bold; */
  border-bottom: 2px solid white;
}

#service1 {
  background: url("img/prova.png") no-repeat center center;
  background-size: cover;
  background-position: right; /* Partenza da destra */
  transition: background-position 1.5s ease-in-out; /* Animazione di 1 secondo */
  position: relative;
  overflow: hidden;
}

#service1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(9, 2, 22, 0.7); /* Cambia il colore e l'opacità se vuoi */
  /* z-index: 1; */
}

#service3 {
  background: url("img/sfondodoing.jpg") no-repeat center center;
  background-size: cover;
  width: 100vw;
}

#service3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 2, 22, 0.6); /* Cambia il colore e l'opacità se vuoi */
}

#service6 {
  background: url("img/sfondodoing.jpg") no-repeat center center;
  background-size: cover;
}

#service6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 2, 22, 0.6); /* Cambia il colore e l'opacità se vuoi */
}

#service8 {
  background: url("img/sfondodoing.jpg") no-repeat center center;
  background-size: cover;
}

#service8::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 2, 22, 0.6); /* Cambia il colore e l'opacità se vuoi */
}

.service9 {
  /* background: url("img/sfondodoing.jpg") no-repeat center center; */
  background-size: cover;
  background-position: initial; /* Mostra la parte destra dell'immagine */
}

.service9::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 2, 22, 0.7); /* Cambia il colore e l'opacità se vuoi */
}

@media (max-width: 768px) {
  .service9 {
    background-position: center center;
    background-size: cover;
  }
  .ppp {
    font-size: 0.6em;
  }
}

.servicehome {
  /* background: url("img/sfondodoing.jpg") no-repeat center center; */
  background-size: cover;
  background-position: initial; /* Mostra la parte destra dell'immagine */
  background-image: url(img/prova.png);
}

.servicehome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 2, 22, 0.6); /* Cambia il colore e l'opacità se vuoi */
}

@media (max-width: 1200px) {
  .servicehome {
    background-image: url(img/provamobile.png);
  }
}

/* contenuto stile */
.service2 {
  min-height: calc(100vh + 75px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: white; */
  background-image: url(img/sfondodoing.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* EFFETTO PARALLAX */
  position: relative;
  color: var(--primocolore);
  font-size: 45px;
  text-align: left;
  padding: 0 20px;
}

.service2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    228,
    228,
    228,
    0.9
  ); /* Cambia il colore e l'opacità se vuoi */
}

.service2 .content {
  display: flex;
  flex-direction: column;
  align-items: start; /* Centra orizzontalmente */
  justify-content: center; /* Centra verticalmente */
  width: 100%;
  max-width: 1200px;
  z-index: 1;
}

.service2 .content a {
  margin-top: 0;
}

/* Titolo */
.service2 h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0;
  margin: 0;
}
.service2 > .content p {
  margin-top: 0.6em;
  font-size: 0.5em;
  border-left: 2px solid var(--primocolore);
  padding-left: 0.6em;
  width: 80%;
  margin-left: 5px;
  margin-bottom: 0;
}

.service2 > .content a {
  text-decoration: none;
  color: var(--primocolore);
}

.service2 span {
  font-size: 0.4em;
  padding-bottom: 0.3em;
}

/* Piccolo link sotto il titolo */
.service2 a p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: var(--primocolore);
}

.service2 p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.service2 a span:hover {
  /* font-weight: bold; */
  border-bottom: 2px solid var(--primocolore);
}

.sk {
  min-height: calc(100vh + 75px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicespecial {
  position: static;
  min-height: calc(100vh + 75px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: column;
  background-color: var(--primocolore);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* EFFETTO PARALLAX */
  position: relative;
  color: white;
  font-size: 40px;
  text-align: left;
  padding: 1em;
}
.servicespecial .content {
  display: flex;
  flex-direction: column;
  align-items: start; /* Centra orizzontalmente */
  justify-content: center; /* Centra verticalmente */
  width: 100%;
  max-width: 1200px;
  z-index: 1000;
}

.servicespecial .content a {
  margin-top: 0;
}

/* Titolo */
.servicespecial h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0;
  margin: 0;
}

.servicespecial > .content p {
  margin-top: 0.6em;
  font-size: 0.5em;
  border-left: 2px solid white;
  padding-left: 0.6em;
  width: 100%;
  margin-left: 5px;
  margin-bottom: 0;
}

.servicespecial > .content a {
  text-decoration: none;
  color: white;
}

.servicespecial span {
  font-size: 0.4em;
  padding-bottom: 0.3em;
}
.hidden-before-scroll {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

/* Piccolo link sotto il titolo */
.servicespecial a p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: white;
}

.servicespecial p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.servicespecial a span:hover {
  /* font-weight: bold; */
  border-bottom: 2px solid white;
}

.servicespecial2 {
  position: static;
  min-height: calc(100vh + 75px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: white; */
  background-image: url(img/sfondodoing.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* EFFETTO PARALLAX */
  position: relative;
  color: var(--primocolore);
  font-size: 40px;
  text-align: left;
  padding: 1em;
}

.servicespecial2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    228,
    228,
    228,
    0.9
  ); /* Cambia il colore e l'opacità se vuoi */
}

.servicespecial2 .content {
  display: flex;
  flex-direction: column;
  align-items: start; /* Centra orizzontalmente */
  justify-content: center; /* Centra verticalmente */
  width: 100%;
  max-width: 1200px;
}

.servicespecial2 .content a {
  margin-top: 0;
}

/* Titolo */
.servicespecial2 h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0;
  margin: 0;
}
.servicespecial2 > .content p {
  margin-top: 0.6em;
  font-size: 0.5em;
  border-left: 2px solid var(--primocolore);
  padding-left: 0.6em;
  width: 100%;
  margin-left: 5px;
  margin-bottom: 0;
}

.servicespecial2 > .content a {
  text-decoration: none;
  color: var(--primocolore);
}

.servicespecial2 span {
  font-size: 0.4em;
  padding-bottom: 0.3em;
}

/* Piccolo link sotto il titolo */
.servicespecial2 a p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: var(--primocolore);
}

.servicespecial2 p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.servicespecial2 a span:hover {
  /* font-weight: bold; */
  border-bottom: 2px solid var(--primocolore);
}

/* Scroll Arrow */
.scroll-arrow {
  position: absolute; /* Posizione assoluta */
  bottom: 55px; /* Fissa la freccia in basso */
  left: 49%; /* Centra orizzontalmente */
  padding-bottom: 80px;
  transform: translateX(-49%); /* Correggi il centro */
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s; /* Effetto di transizione */
  z-index: 1;
}

.scroll-scopri {
  transition: color 0.3s; /* Effetto di transizione */
}

/* Effetto Hover sulla freccia */
.scroll-arrow:hover {
  /* bottom: 18px; Cambia colore al passaggio del mouse */
  color: white;
}

.scroll-arrow-special {
  position: absolute; /* Posizione assoluta */
  bottom: 55px; /* Fissa la freccia in basso */
  left: 49%; /* Centra orizzontalmente */
  padding-bottom: 80px;
  transform: translateX(-49%); /* Correggi il centro */
  font-size: 24px;
  color: var(--primocolore);
  text-decoration: none;
  transition: color 0.3s; /* Effetto di transizione */
}

/* Effetto Hover sulla freccia */
.scroll-arrow-special:hover {
  /* bottom: 18px; Cambia colore al passaggio del mouse */
  color: var(--primocolore);
}

.scroll-arrow-special2 {
  position: absolute; /* Posizione assoluta */
  bottom: 55px; /* Fissa la freccia in basso */
  left: 49%; /* Centra orizzontalmente */
  padding-bottom: 80px;
  transform: translateX(49%); /* Correggi il centro */
  font-size: 24px;
  color: white;
  text-decoration: none;
  transition: color 0.3s; /* Effetto di transizione */
}

/* Effetto Hover sulla freccia */
.scroll-arrow-special2:hover {
  /* bottom: 18px; Cambia colore al passaggio del mouse */
  color: white;
}

footer {
  background-color: var(--primocolore);
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

footer a {
  color: white;
}
footer a:hover {
  color: white;
}

.footer2 {
  background-color: var(--primocolore);
  padding: 1em;
  text-align: center;

  align-items: center;
  color: white;
}

.footer a {
  color: white;
}
.footer a:hover {
  color: white;
}

.btsend {
  border: none;
  background-color: transparent;
  text-align: left;
  border-bottom: 2px solid transparent;
}

.btsend:hover {
  border-bottom: 2px solid var(--primocolore);
}

.limited-width {
  max-width: 600px; /* Per mantenere una larghezza fluida */
  width: 100%; /* Imposta una larghezza uniforme */
}

.spaceteam {
  background-color: var(--primocolore);
  padding: 2em 0;
  color: white;
}

.spaceteam .container .row .item {
  margin: 1em 0;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  min-height: 80px; /* Forza ogni card ad occupare la stessa altezza */
}

.content-img img {
  width: 100%;
  height: auto;
  /* border-radius: 8px; Arrotonda i bordi dell'immagine */
  transition: transform 0.3s ease;
}

.content-text {
  flex-grow: 1;
  position: relative;
  background: white;
  background-size: cover; /* Colore di sfondo rosso */
  color: var(--primocolore); /* Testo bianco */
  text-align: left;
  padding: 10px;
  /* border-radius: 0 0 8px 8px; Arrotonda solo i bordi inferiori */
}

.content-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(9, 2, 22, 0.85); */
  z-index: 0; /* Cambia il colore e l'opacità se vuoi */
}

.content-text h2 {
  font-size: 1.5rem;
  margin: 0;
  padding-top: 10px;
}

.content-text p {
  font-size: 0.9rem;
  margin: 0;
  padding-bottom: 10px;
}

@supports (-webkit-overflow-scrolling: touch) {
  /* Disabilita l'effetto parallax su dispositivi iOS */
  .service {
    background-attachment: scroll;
  }
}

@media (max-width: 768px) {
  #mission .content .scroll-arrow {
    display: none;
  }

  .nonedis {
    display: none;
  }

  .spaceteam .container .row .item {
    padding: 0 2em;
    /* Forza ogni card ad occupare la stessa altezza */
  }

  .scroll-arrow {
    bottom: 85px; /* Fissa la freccia in basso */
  }

  .scroll-arrow-special {
    bottom: 85px; /* Fissa la freccia in basso */
  }

  .scroll-arrow-special2 {
    bottom: 85px; /* Fissa la freccia in basso */
  }
}

/* Responsive */
@media (max-width: 991px) {
  .service h1,
  .servicespecial h1,
  .service2 h1,
  .servicespecial2 h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .navbar {
    display: none; /* Nascondi la navbar su schermi piccoli */
  }

  .sidebar {
    right: -100%;
    width: 100%;
  }
  .services-screen {
    display: none;
  }

  .service > .content p {
    width: 95%;
  }
  .service2 > .content p {
    width: 95%;
  }

  .scroll-arrow-special,
  .scroll-arrow-special2 {
    position: absolute; /* Posizione assoluta */
    bottom: 5px; /* Fissa la freccia in basso */
    left: 50%; /* Centra orizzontalmente */
    padding-bottom: 10px;
    transform: translateX(-50%); /* Correggi il centro */
    font-size: 24px;
    color: var(--primocolore);
    text-decoration: none;
    transition: color 0.3s; /* Effetto di transizione */
  }
}

@media (min-width: 992px) {
  .sidebar {
    display: none; /* Nascondi la sidebar su schermi grandi */
  }
  #menu-toggle {
    display: none;
  }

  .subcategories {
    display: block; /* Mostra le sottocategorie su schermi grandi */
  }
}

.carousel-container {
  position: relative; /* Permette di posizionare le frecce sopra il carosello */
  width: 100%; /* Larghezza del contenitore */
  overflow: hidden;
  background-color: var(
    --azzurro
  ); /* Nasconde eventuali overflow del carosello */
  display: flex;
  justify-content: center;
}

.carousel8 {
  display: flex;
  overflow-x: auto; /* Abilita lo scorrimento orizzontale */
  -webkit-overflow-scrolling: touch; /* Abilita lo scorrimento fluido su iOS */
  width: 90%;
  cursor: grab;
  background-color: var(--azzurro);
  height: 220px;
  justify-content: flex-start;
  align-items: center;

  /* Nascondere la scrollbar */
  scrollbar-width: none; /* Per Firefox */
  -ms-overflow-style: none; /* Per Internet Explorer e Edge */
}

.carousel8::-webkit-scrollbar {
  display: none; /* Per Chrome, Safari e Opera */
}

.carousel-item8 {
  min-width: 180px;
  margin: 10px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item8 img {
  max-width: 90%;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  touch-action: none; /* Disabilita l'interazione touch */
}

.carousel-arrow8 {
  position: absolute;
  top: 50%; /* Centra verticalmente */
  transform: translateY(-50%);
  color: white;
  font-size: 1.5em;
  border: none;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  z-index: 10; /* Assicurati che le frecce siano sopra il carosello */
}

.left-arrow {
  left: 10px; /* Posizione a sinistra */
}

.right-arrow {
  right: 10px; /* Posizione a destra */
}

.carousel-title {
  position: absolute; /* Posiziona il titolo in modo assoluto */
  top: 15px; /* Distanza dal bordo superiore */
  left: 50%; /* Centra orizzontalmente */
  transform: translateX(-50%); /* Centratura perfetta */
  color: white; /* Colore del testo */
  font-size: 1.7em; /* Dimensione del font */
  z-index: 10; /* Assicurati che il titolo sia sopra gli altri elementi */
  margin-bottom: 150em;
}

#partner .content {
  padding-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Se vuoi centrare il contenuto verticalmente */
}

#partner .content .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Permette di andare a capo se ci sono troppe immagini */
  margin: 0;
  padding: 0;
}

#partner .content .row div {
  text-align: center; /* Centra il testo sotto le immagini */
}

#partner .content .row div img {
  width: 65%; /* Immagine riempie il contenitore */
  height: auto; /* Mantiene le proporzioni */
}

@media (min-width: 991px) {
}

#loader {
  display: none;
  /* Altri stili del loader */
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white(0, 0, 0, 0.7); /* Sfondo oscurato */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Assicura che il loader sia sopra gli altri contenuti */
  display: none; /* Inizialmente nascosto */
}

.spinner {
  border: 5px solid white; /* Colore di sfondo del loader */
  border-top: 5px solid var(--primocolore); /* Colore del loader */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* Animazione del loader */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wave-motion {
  display: inline-block;
  animation: swing 6s infinite ease-in-out;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }

  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Rimuovi la larghezza e altezza fissa e lascia che la griglia si adatti automaticamente */

.box {
  position: relative;
  background-image: url(img/retailbg.png);
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px; /* Spazio interno per evitare che il contenuto tocchi i bordi */
  transition: transform 0.3s ease; /* Transizione fluida */
}
.box:hover {
  /* transform: scale(1.01);  */
}

.box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 2, 22, 0.8);
  z-index: 0;
}

.box .content {
  position: relative;

  z-index: 1;
}

.box .content p {
  width: 80%;
  border-left: 1px solid white;
  border-radius: 1px;
  padding-left: 0.6em;
}

.box > .content a {
  text-decoration: none;
  margin: 0;
  color: white;
}

.box span {
  font-size: 1.1em;
  padding-bottom: 0.3em;
  margin: 0;
}

/* Piccolo link sotto il titolo */
.box a p {
  font-size: 1em;
  margin-bottom: 20px;
  color: white;
}

.box a span:hover {
  /* font-weight: bold; */
  border-bottom: 2px solid white;
}

.video-bordered {
  border: 2px solid #ffffff; /* Imposta il bordo (nero in questo caso) */
  border-radius: 15px; /* Rende gli angoli arrotondati */
  padding: 3px; /* Aggiunge spazio tra il video e il bordo */
}

.box2 {
  position: relative;
  background-color: transparent;
  color: white;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px; /* Spazio interno per evitare che il contenuto tocchi i bordi */
  border: 2px solid white;
}

/* 
Lavori nel settore aereospaziale ferroviaro?
Arriva ARCA AVIA, il sfotware realizzato da Doing per semplificare il tuo lavoro;
vantaggi
Integrazione con gli uffici;
Completa gestione della logistica avanzata con supporto degli standard INDICOD "UCC/EAN-128" "SSCC"
Schedulatore integrato;
Configurazione degli utenti e dei ruoli per consentire le autorizzazioni e responsabilita degli operatori
sincronizzazione con le richieste dei clienti
elaborazione mrp a ciclo chiuso
ordini di produzione e MES MANUFACTURING EXECUTION SYSTEM */

.box2 .content {
  position: relative;
  z-index: 1;
}

.box2 .content p {
  width: 80%;
  border-left: 1px solid white;
  border-radius: 1px;
  padding-left: 0.6em;
}

.box2 > .content a {
  text-decoration: none;
  margin: 0;
  color: #090216;
}

.box2 span {
  font-size: 1.1em;
  padding-bottom: 0.3em;
  margin: 0;
}

/* Piccolo link sotto il titolo */
.box2 a p {
  font-size: 1em;
  margin-bottom: 20px;
}
